* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  font-family: "Lato",sans-serif;
  height: 90px;
}

.clearfix {
   display: table;
   content: "";
   clear: both;
}

#head-left {
  float: left;
  width: 42%;
  padding:30px 0px 30px 60px;
}

#head-left img {
  height: 30px;
  margin-right: 30px;
}

li#color-black a {
  color: black;
}

#head-right {
  float: right;
  width: calc(100% - 42%);
  height: 93px;
  padding:35px 0px 30px 0px;
}

#head-right a,
#head-left li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
}

.relative {
  position: relative;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

.dropdown {
  width: 180px;
  padding: 15px;
  color: grey;
  position: absolute;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.3), -8px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
}

.dropdown li {
  list-style: none;
  line-height: 50px;
}

header li a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  font-weight: bold;
}

li a:hover {
  color: black;
}
